# Sodium
/libsodium

# Android/IJ
#
android/build
android/.externalNativeBuild
android/lib
*.iml
.idea
.gradle
local.properties

# Xcode
ios/build
project.xcworkspace
xcuserdata
DerivedData/

# OSX
#
.DS_Store
